{% extends "base.html" %}

{% block content %}
<h2 class="home-title">Archive.</h2>

<div class="search-container">
    <form action="/" method="GET">
        <input type="text" name="query" placeholder="Search by title, author, description..." value="{{enteredQuery}}"
            class="search-bar">

        <div class="filters">
            <div>
                <label class="search-text" for="availability-select">Availability</label>
                <select name="availability" id="availability-select" class="search-bar">
                    <option value="">Any</option>
                    <option value="true">Available</option>
                    <option value="false">Not Available</option>
                </select>
            </div>
            <div>
                <label class="search-text" for="listing-type-select">Listing Type</label>
                <select name="listing-type" id="listing-type-select" class="search-bar">
                    <option value="">Any</option>
                    <option value="Selling">Selling</option>
                    <option value="Donating">Donating</option>
                    <option value="Lending">Lending</option>
                    <option value="ShowingOff">Showing Off</option>
                </select>
            </div>
        </div>

        <button type="submit" class="search-bar">Search</button>
    </form>
</div>

<h2>Available Books</h2>

<div class="book-grid">
    {% for book in books %}
    <div class="book-post {% if not book.available %}is-unavailable{% endif %}" onclick="viewDetails('{{ book._id }}')">
        <div class="listing-badge">{{ book.listing_type | default("N/A") }}</div>

        <div class="book-cover-wrapper">
            {% if book.images and book.images|length > 0 %}
            <img src="{{ book.images[0] }}" class="book-cover">
            {% else %}
            <img src="{{ url_for('static', filename='imgs/no_image.png') }}" class="book-cover">
            {% endif %}
        </div>

        <h3 class="book-title">{{ book.title | default("N/A") }}</h3>
        <p class="author-name">By {{ book.author | default("N/A") }}</p>

        <div class="book-post-detail">
            <strong>From</strong> <span>{{ book.sender_name | default("N/A") }}</span>
        </div>
        <div class="book-post-detail">
            <strong>Interested</strong> <span class="interest-count">{{ book.num_ppl_wanted | default("N/A") }}</span>
        </div>

        <button class="like-btn" data-id="{{ book._id }}">
            {% if book._id in current_user.liked_posts %}
            Liked!
            {% else %}
            Clicked to like.
            {% endif %}
        </button>
    </div>
    {% endfor %}
</div>

<div class="home-header">
    <a href="{{ url_for('create_post') }}" class="post-button">
        + Make a post
    </a>
</div>
{% endblock %}